#User_ID,
#Loan_ID,
#Device_id,
#Device_name,
#Device_category,
#Device_status,
#Device_cost,
#Device_comments,
#Loan_Status,
#Expected_Return_Date,
#Loan_Date,
#Physical_Condition_Before,
#Loan_Comments,
#Physical_Condition_After,
#Actual_Return_Date,
#Description_device {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#formRegisDevices {
  margin-top: 7rem;
  margin-bottom: 10rem;
  transform: scale(1.4);
  margin-left: 15%;
  width: 19rem;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #75727277;
  text-align: center;
  padding-top: 3px;
  border-radius: 10px;
}

#formRegisUsers {
  margin-top: 4rem;
  margin-bottom: 13rem;
  transform: scale(1.4);
  margin-left: 56%;
  max-width: 19rem;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #616161d3;
  text-align: center;
  padding-top: 3px;
  border-radius: 10px;
  
}

#inscLibro {
  padding: 5px 10px;
  background-color: #f2f3f5;
  color: #0e0d0d;
  border-color: black;
  cursor: pointer;
  font-size: 40px;
  transition: background-color 0.5s ease;
  margin-bottom: 20px;
  margin-top: -20px;
  margin-left: 10rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10%;
}

#bookList {
  max-width: 130rem;
  min-width: 10rem;
  padding-left: 10px;
  padding-right: 10px;
  background-color:  #e9e6e6;
  text-align: center;
  padding-top: 3px;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-bottom: 7rem;
}

#formRegisLoans {
  margin-top: 12rem;
  margin-bottom: 12rem;
  transform: scale(1.4);
  margin-left: 75%;
  max-width: 19rem;
  padding-left: 10px;
  padding-right: 10px;
  background-color:  #757272be;
  text-align: center;
  padding-top: 3px;
  border-radius: 10px;
}

#inscLibro:hover {
  background-color: rgb(86, 51, 16);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}


/* Estilos para el modal */
.modal-content {
  background-color: rgb(5, 5, 5);
  padding: 20px;
  border-radius: 4px;
  max-width: 400px;
  max-height: 300px;
  position: relative;
  
}

/* Estilos para el fondo del modal */
.modal-overlay {
  background-color: rgba(36, 31, 105, 0.342); /* Fondo semitransparente */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Z-index alto para asegurar que esté por encima de otros elementos */
  
}

/* Estilos para el botón de Cerrar dentro del modal */
.modal-content button {
  background-color: #e6e5e5; /* Color de fondo */
  color: rgb(8, 8, 8); /* Color del texto */
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 150px;
  font-size: 20px;
}

/* Estilos para el botón de Cerrar al pasar el cursor por encima */
.modal-content button:hover {
  background-color: #e0e0e0; /* Cambiar color al pasar el cursor */
}

#textModal{
  font-size: 30px;
  text-align: center;
  color: #e0e0e0;
}