/* registro.css */
#contenedor{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

#container{
  margin-top: 200px;
  transform: scale(1.40);
  margin-left: 40%;
  max-width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #6e6b6b32;
  text-align: center; 
  padding-top: 3px; 
  border-radius: 10px;
}

#register {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px; 
}


#one {
  color: #ccc;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1px; 
  font-size: 15px;
  margin-bottom: 5px;
}

  #User_id,#User_name,#Password,#Email,#Phone, #Address, #Role{
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

#registro_adm {
  padding: 5px 10px;
  background-color: #f2f3f5;
  color: #0a0a0a;
  border-color: black;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.5s ease;
  margin-bottom: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#btn-atras {
  padding: 5px;
  background-color: #f2f3f5;
  color: #000000;
  border-color: black;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.5s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: -90px;
  border-radius: 40%;

   }
   #btn-atras2 {
    padding: 5px;
    background-color: #f2f3f5;
    color: #000000;
    border-color: black;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.5s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: -70px;
    border-radius: 40%;
  
     }

  #btnUpdate{
    padding: 5px 10px;
    background-color: #f2f3f5;
    color: #000000;
    border-color: black;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.5s ease;
    margin-bottom: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: 70px;
  }

 #btnUpdate:hover {
    background-color: #5162f5;
}

#registro_adm:hover {
  background-color: #5162f5;
}
 #btn-atras:hover {
  background-color: #5162f5;
}
 #btn-atras2:hover {
  background-color: #5162f5;
}

