/* registro.css */
#contenedor{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

body{
  background-color: #ffffff;
  margin-top: 30px;
}

div {
  max-width: 250px;
  margin:1px auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #96bfd7;
  border-radius: 30px;
  text-align: center; 
  padding-top: 3px; 
}


label {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1px; 
  font-size: 10px;
  margin-bottom: 5px;
}

input, select {
  padding: 5px;
  margin-bottom: 5px;

  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #000000;
  border-color: black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 11px;
  transition: background-color 0.5s ease;
  margin-bottom: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


button:hover {
  background-color: #f8f9fb;
}
